@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-sidebar: #0099ff;
  --color-grey: rgba(31, 100, 134, 0.136);
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
}

/* ACTUAL CSS STARTS FROM HERE : */

body {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

main {
  display: flex;
  flex-direction: column;
}

.greeting {
  display: flex;
  padding: 20px 50px;
  gap: 30px;
  align-items: center;
}

.greeting > .new-btn {
  margin-left: auto;
}

.main-content {
  flex: auto;
  display: flex;
  background-color: var(--color-grey);
}

.main-content > * {
  flex: auto;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.projects > h3 {
  align-self: flex-end;
  grid-column: 1 / -1;
}

.extras {
  display: flex;
  flex-direction: column;
}

.trending {
  margin-top: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.icon {
  display: inline;
}

.side-bar {
  min-height: 100vh;
  background-color: var(--color-sidebar);
  color: white;
  padding: 10px;
}

.side-bar > h1 {
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.side-bar li {
  font-size: 17px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 15px auto;
  align-items: center;
  gap: 25px;
  font-weight: 600;
}
.side-bar > .nav-list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.side-bar .icon {
  justify-self: flex-end;
  /* from https://isotropic.co/tool/hex-color-to-css-filter/ as suggested by https://stackoverflow.com/a/53336754 */
  filter: invert(100%) sepia(0%) saturate(4028%) hue-rotate(206deg) brightness(129%) contrast(109%);  
}

.profile-circle {
  height: 40px;
  min-width: 40px;
  background-color: goldenrod;
  border-radius: 100px;
}

.top-row {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 50px;
}

.bell-ring {
  margin-left: auto;
}

.top-row > input {
  outline: none;
  border-radius: 20px;
  background-color: var(--color-grey);
  border: 0px;
  width: 600px;
  padding-left: 10px;
}

.top-row > span {
  min-width: 150px;
  font-weight: 700;
}

.main-profile-circle {
  height: 80px;
  min-width: 80px;
  background-color: goldenrod;
  border-radius: 100px;
}

.greeting > button {
  background-color: var(--color-sidebar);
  border: 0px;
  min-width: 100px;
  min-height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.main-content {
  box-shadow: inset rgb(128, 128, 128, 0.5) 0px 1px 3px;
}